{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap"
            rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'conthome.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>music home</title>
    </head>

    <body>
        <div class="accbutton">
            <a href="#"><i class='bx bxs-user-account' style="color:white;"></i></a>
        </div>
        <div class="logo">
            <img src="{% static 'images/zlogo.png' %}" alt="logo" width="50px" hight="50px">
       
       
            <p>ZORO MUSIC</p>
        </div>
        <div class="containre">
            <div class="art1">  
                <a href="#">
                <img alt="art1" src="{% static 'images/allok.jpg' %}" width="50px" hight="50px" id="art1">
                <a href="#">All OK</a> 
            </a>  
            </div>
            <div class="art2">
                <img alt="art2" src="{% static 'images/arijit.jpg' %}"  width="50px" hight="50px" id="art2">
                <a href="#">All OK</a>  
            </div>
            <div class="art3">
                <img alt="art3" src="{% static 'images/ravi.jpg' %}"  width="50px" hight="50px" id="art3">
                <a href="#">All OK</a>  
            </div>
            <div class="art4">
                <img alt="art4" src="{% static 'images/ARrahman.jpg' %}"  width="50px" hight="50px" id="art4">
                <a href="#">All OK</a>  
            </div>
            <div class="art5">
                <img alt="art5" src="{% static 'images/billi.jpg' %}" id="art5"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art6">
                <img alt="art6" src="{% static 'images/bts.jpg' %}" id="art6"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art7">
                <img alt="art7" src="{% static 'images/dilgit.jpg' %}" id="art7"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art8">
                <img alt="art8" src="{% static 'images/drake.jpg' %}" id="art8"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art9">
                <img alt="art9" src="{% static 'images/imaginedragon.jpg' %}" id="art9"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art10">
                <img alt="art10" src="{% static 'images/illi.jpg' %}" id="art10"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art11">
                <img alt="art11" src="{% static 'images/justin.jpg' %}" id="art11"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
            <div class="art12">
                <img alt="art12" src="{% static 'images/marshmellow.jpg' %}" id="art12"  width="50px" hight="50px">
                <a href="#">All OK</a>  
            </div>
        </div>
    </body>
</html>